<!--
Use this as edit page as well
-->

<form action="/casinos" method="post">
  <input type='hidden' name='id' value='<%=@casino[0]['id_casino'] %>'/>

  <label>
  Kasino namn
    <br/>
  <input id="casino_name" type="text" name="casino_name" value="<%=h(@casino[0]['name']) %>" required/>
    <br/>
  </label>
  <label>
    Vinst statistik
    <br/>
    <input id="win_stats" type="text" name="win_stats" value="<%=h(@casino[0]['win_stats']) %>" required/>
    <br/>
  </label>
  <label>
    Omsättningskrav
    <br/>
    <input id="turnover" type="number" name="turnover" value="<%=h(@casino[0]['turnover']) %>" required/>
    <br/>
  </label>
  <label>
    Logga som viss filtyp(Lista ut vilken)
    <br/>
    <input id="logo_filepath" type="text" name="logo_filepath" value="<%=h(@casino[0]['logo_filepath']) %>" />
    <br/>
  </label>
  <label>
    Ändra så att den radar upp tidigare tillagda kategorier
    Och en knapp för att ta bort kategorin
    Ladda om sidan om man lägger till eller tar bort
    <br/>
    <% @casino.each do |casino| %>
      <%=h(casino['name_cats'])%>

      <br/>
    <% end %>
    <input id="cats" list="cats" type="text" name="cats" required/>
    <br/>
  </label>
  <!--Av estetiska skäl?-->
  <button type="submit">Lägg till label</button>
  <button id="create_casino" type="submit">Lägg till kasino</button>
</form>
<form action="/casinos/delete" method="post">
  <input type=hidden name=id value=<%=@casino[0]['id_casino'] %>>
  <button type=submit>Delete casino</button>
</form>

<datalist id="cats">
  <%@cats.each do |cat| %>
    <option value="<%= h(cat['name_cats'])%>"></option>
  <% end %>
</datalist>