<% @casinos.each do |casino| %>
    <div class="casino">
      <a href="/casinos/<%=casino['id'] %>"><%=h(casino['name']) %></a>
      <% (0..casino['rating']).each do |_| %>
        <div class="star">
                <p>star</p>
        </div>
      <% end %>

      <img src="<%=h(casino['logo_filepath'])%>" alt="<%=h(casino['name']) %>'s logo">

      <% @casinos_cats[casino['id'].to_s].each do |cats| %>
        <div class="cats">
          <p><%=h(cats) %></p>
        </div>
      <% end %>
      <%if !@user.nil? && @user['make'].to_i == 1%>
        <a href="casinos/<%=casino['id']%>/edit">edit</a>
      <%end %>
    </div>
<% end %>